%h1 The game!!!

.players
  %h3 Players
  - @game.players.each do |player|
    - if @game.white_player_id == player.id
      %p
        White:
        = player.username
    - else
      %p 
        Black:
        = player.username
.details
  %h3 Details
  .placing-player
    - if @game.placing_player_id
      = "<span>#{@game.players.select { |p| p.id == @game.placing_player_id }.first.username}</span>'s turn".html_safe

= link_to 'pass', pass_game_path(@game), :remote => true, :confirm => "are you sure?"

.board
  = render :partial => 'board', :locals => {:game => @game, :groups => @groups}

= subscribe_to '/stones/new'
= subscribe_to '/games/pass'

:javascript
  var game_id = "#{@game.id}"
  var groups = #{@groups.to_json}