%h1 The game!!!

%p 
  %h3 Players
  - @game.players.each do |player|
    - if @game.white_player_id == player.id
      %p
        White:
        = player.username
    - else
      %p 
        Black:
        = player.username
%p
  %h3 Details
  = @game.inspect

.board
  = render :partial => 'board', :locals => {:game => @game, :groups => @groups}

= subscribe_to '/stones/new'

:javascript
  var game_id = "#{@game.id}"
  var groups = #{@groups.to_json}