%label Username
= form.text_field :username
%label Email
= form.text_field :email
%label Password
= form.password_field :password, :autocomplete => :off
%label Password confirmation
= form.password_field :password_confirmation, :autocomplete => :off
= form.submit